<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8"/>
		<script type="text/javascript">
			function redirectCancelar(){
				window.location.href = 	"../issues"	
			}
		</script>
	</head>
	<body>
		<%= form_for Issue.new do |f| %>
			Nome: <input type="nome" name="issue[nome]" /> </br>
			Descrição: <textarea name="issue[descricao]"></textarea> </br>
			Tipo: <select name="issue[tipo]">
				<option value="Bug">Bug</option>
				<option value="Manutenção">Manutenção</option>
				<option value="Melhoria">Melhoria</option>
				<option value="Nova funcionalidade">Nova funcionalidade</option>
			</select></br>
			Data inicio: <input type="date" name="issue[dtInicio]" /> </br>
			Data fim: <input type="date" name="issue[dtFim]" /> </br>
			Staus: <select name="issue[status"]>
				<option value="Ativo">Ativo</option>
				<option value="Inativo">Inativo</option>
			</select></br>

			<button type="submit">Criar issue</button>
			<button id="btn_cancel" onclick="redirectCancelar()">Cancelar</button>
		<% end %>
	</body>
</html>