<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class="div_principal">
			<%= form_for Usuario.new do |f| %>
				<div class="editar_pessoa_fisica">
					Nome: <input type="text" required="true" name="usuario[nomeemail]" />
					Email: <input type="email" required="true" name="usuario[email]"/><br>
					Celular: <input type="text" required="true" name="usuario[celular]"/>
					Telefone residencial: <input type="text" name="usuario[telefone]"/><br>
					CPF: <input type="text" name="usuario[cpf]"/><br>
					Aceito receber informações por email: <input type="checkbox" name="usuario[rails]"/><br><br>
					Senha: <input type="password" name="usuario[senha]"/><br>
					Repita sua senha: <input type="password" />

				</div>

				<div class="button">
					<input type="button" value="btn_salvar"/>
					<input type="button" value="btn_cancelar"/>
				</div>
			<% end %>
		</div>
	</body>
</html>