<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="div_principal">
			<div class="editar_pessoa_fisica">
				Nome: <input type="text" required="true" />
				Email: <input type="email" required="true"/><br>
				Celular: <input type="text" required="true"/>
				Telefone residencial: <input type="text"/><br>
				CPF: <input type="text"/><br>
				Aceito receber informações por email: <input type="checkbox"></input><br><br>
				Senha: <input type="password"/><br>
				Repita sua senha: <input type="password"/>
			</div>

			<div class="button">
				<input type="button" value="btn_salvar"/>
				<input type="button" value="btn_cancelar"/>
			</div>
		</div>
	</body>
</html>