<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
		$(document).on("click",function() {
			$( '#btnCadastrar').on( "click", function() {
				window.location.href = '../cadastroUsuario';
		 	});
		});
		</script>
		<title>Easy-Issue - Login</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div>
			
		</div>
		<div>
			<h3>Login</h3><br>
			Email: <input type="email" required="true"></input><br>
			Senha: <input type="password" required="true"></input><br>
			<div>
				<input type="submit" value="Cadastrar" id="btnCadastrar"></input>
				<input type="submit" value="Login" id="btnLogin"></input>
			</div>

		</div>
	</body>
</html>