<!DOCTYPE html>
<html>
	<head>
		<title>Easy-Issue - Login</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div>
			
		</div>
		<div>
			<h3>Login</h3><br>
			Email: <input type="email" ></input><br>
			Senha: <input type="password"></input><br>
			<div>
				<input type="button" value="Cadastrar" id="btnCadastrar"></input>
				<input type="button" value="Login" id="btnLogin"></input>
			</div>
		</div>
	</body>
</html>